* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}

nav li {
    list-style-type: none;
    margin: 50px;
}

nav ul {
    display: flex;
    align-items: center;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

.text-primary {
    color: orange;
}

.btn-primary {
    height: 64px;
    border-radius: 5px;
    background: #FD6E0A;
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    border: 0;
    padding: 18px 35px;
}

/* banner */
.banner{
    display: flex;
    align-items: center;
    margin: 0 200px;
}
.hi {

    font-weight: 600;
    font-size: 45px;
    color: #474747;
}

.Marry {
   align-items: inherit;
    font-weight: 700;
    font-size: 85px;
    color: #181818;
}

.desc {
    
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #757575;
    margin-bottom: 30px;
}
/* Background */
.header{
    background-color: #FFFFFF;
    background-image: url(../images/header_bg.png) , url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

/* Main section */
main{
    max-width: 1140px;
    margin: 0 auto;
}
/* about sectiuon styles */
.about{
      margin-top: 130px;
      background: #FFF8F3;
      border-radius: 10px;
      padding: 130px 150px;
}
.section-title{
  text-align: center;
  margin-bottom: 30px;
}
.section-desc{
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
}
.about-information{
    display: flex;
    text-align: center;
    justify-content: space-around;
}
.about-info{
    
}
.info-title{
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    /* or 150% */
    
    text-align: center;
    
    /* Dark 03 */
    
    color: #757575;
    
}
.info-description{
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    /* or 150% */
    
    text-align: center;
    
    /* Dark 02 */
    
    color: #474747;
}